<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) jmelzer 2011.
  ~ All rights reserved.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wicketApplication" class="com.jmelzer.webapp.WicketApplication" depends-on="easyDbSetup">
    </bean>
    <bean id="easyDbSetup" class="com.jmelzer.service.impl.EasyDbSetup"/>

</beans>