<html>
<head>
    <title>$subject</title>
</head>
<body>
<b>Hallo ${user.name},</b><br>
&Uuml;ber folgenden Link k&ouml;nnen Sie f&uuml;r Ihren Zugang bei Wreckcontrol ein<br>
neues Passwort festlegen:<br>
<br>
<b><a href="$passwordlink">Klicken Sie hier, um Ihr Passwort zu &auml;ndern</a></b><br>
<br>
Sollten Sie kein neues Passwort w&uuml;nschen, dann k&ouml;nnen Sie diese Benachrichtigung einfach l&ouml;schen.<br>
Ihr altes Passwort beh&auml;lt solange seine G&uuml;ltigkeit, bis es ge&auml;ndert wurde.<br>
<br>
Einen sch&ouml;nen Tag w&uuml;nscht<br>
Ihr Service von Wreckcontrol<br>
<br>
</body>
</html>