<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) jmelzer 2012.
  ~ All rights reserved.
  -->

<configuration debug="true">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}: %L - %msg%n</pattern>
      <!--<pattern>[branchenbuch-base-${mtenv}] ${hostname} %d %p [%t] %c{1}.%M(%L) | %m%n</pattern>-->
    </encoder>
  </appender>
  <logger name="com.jmelzer" level="DEBUG"/>
  <logger name="org.hibernate" level="INFO"/>
  <root level="WARN">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
